

  <div class="row">
    <form class="col s12" ng-submit='findMovie(movieSearch)' required>
      <div class="row">
        <div class="input-field col s10">
          <i class="material-icons prefix">search</i>
          <input id="icon_prefix" type="search" class="validate" placeholder="Enter Movie Name" ng-model="movieSearch.title">
          <button class="btn waves-effect waves-light" type="submit" name="action" >Submit
            <i class="material-icons right">send</i>
          </button>
        </div>

      </div>
    </form>
  </div>
